.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(198, 65%, 46%);
  color: hsl(0, 0%, 0%);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #282c34;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.wrapper {
  background-color: rgba(61, 152, 255, 0.624);
  width: 80vw!important;
  }